<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958877925607-kedoiffg62opc97v8jffdhg2m1q226mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958877925607-kedoiffg62opc97v8jffdhg2m1q226mf</string>
	<key>API_KEY</key>
	<string>AIzaSyDZYQ01EUCmbq0QLX145YTvlXaRCS4lsVs</string>
	<key>GCM_SENDER_ID</key>
	<string>958877925607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lancelot.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-ea6fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-ea6fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958877925607:ios:dcb812aa518b705e5a2242</string>
</dict>
</plist>